# Data artifacts
ml/data/raw/
ml/data/processed/
/data/
*.zip
ml/models/
service/data/*
!service/data/
!service/data/movie_features.csv
!service/data/user_features.csv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# OS
.DS_Store
